Aqui ir치 algo teorico

In [18]:
import pandas as pd
dfOriginal = pd.read_csv('../baseDatos/00OnlineRetail.csv', encoding='latin1')
dfOriginal.head()
#A pesar que que el archivo tuviera un encoding UTF-8 fue necesario colocar el encoding latin1 para que no diera error al leer el archivo.

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [19]:
df= dfOriginal.copy()
#Realizamos una copia para no modificar el original
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [20]:
df.info()
#Nos da ingreso de datos, tipo de datos, cantidad de datos no nulos y uso de memoria
#Aqui tenemos un problema porque vemos que invoice tiene mas entradas que todos los dem치s campos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    535874 non-null  object
 2   Description  534420 non-null  object
 3   Quantity     535874 non-null  float64
 4   InvoiceDate  535874 non-null  object
 5   UnitPrice    535874 non-null  float64
 6   CustomerID   403182 non-null  float64
 7   Country      535874 non-null  object
dtypes: float64(3), object(5)
memory usage: 33.1+ MB

In [21]:
df.isna().sum()
#Nos da la cantidad de datos nulos por cada columna
#Existen muchos nulos especialmente en la columna de CustomerID, que es la que nos interesa para el an치lisis de clientes.

InvoiceNo           0
StockCode        6035
Description      7489
Quantity         6035
InvoiceDate      6035
UnitPrice        6035
CustomerID     138727
Country          6035
dtype: int64

Vamos borrar todas las observaciones que tienen algun valor en blanco. Esto es especialmente importante para Customer ID dado que estamos haciendo un analisis de clientes y sin que podamos identificarlos el exercicio no hace sentido.

In [ ]:
df.dropna(inplace=True) #Eliminamos los nulos de todo el dataframe, elimina en el propio dataframe ya que usamos inplace=True

In [26]:
df.isna().sum() #como es visible ya no existen valores nulos en el DataFrame
df.info() #tenemos ahora 403182 observaciones

<class 'pandas.core.frame.DataFrame'>
Index: 403182 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    403182 non-null  object
 1   StockCode    403182 non-null  object
 2   Description  403182 non-null  object
 3   Quantity     403182 non-null  float64
 4   InvoiceDate  403182 non-null  object
 5   UnitPrice    403182 non-null  float64
 6   CustomerID   403182 non-null  float64
 7   Country      403182 non-null  object
dtypes: float64(3), object(5)
memory usage: 27.7+ MB

In [29]:
df.shape #Tenemos 403182 filas y 8 columnas

(403182, 8)

Existen duplicados? 
df.duplicated().sum() - ?Cuantos duplicados existen?
df[df.duplicated()].head()  - Ver los primeros duplicados
df = df.drop_duplicates() - Borrar Duplicados

In [41]:
df.duplicated().sum() #Tenemos 5179 duplicados
df[df.duplicated()].head() #Vemos algunos duplicados, como la lista es tan peque침a aqui no da para verlos pero en realidad existen por ejemplo linea 496 y 519 del archivo original
df = df.drop_duplicates() #Eliminamos los duplicados

In [43]:
df.duplicated().sum() #Ya no tendremos duplicados, ya que se han borrado los 5179 duplicados
df.shape #Ahora tenemos 398003 filas y 8 columnas

(398003, 8)

Cuantas facturas diferentes tenemos?
Cuantos clientes diferentes tienen facturas?
Cuantos productos diferentes fueron comprados?